html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  background: #333;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin-left: 2rem;
  text-align: center;
  transition: 0.5s;
}

a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
}

@media screen and (max-width:576px) {
  .logo {
    margin-bottom: 1.5rem;
  }
  
  .nav-con {
    padding: 3rem 0;
    flex-direction: column;
    height: auto;
  }

  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    padding: 1rem 0;
    margin-left: 0;
    transition: 0.5s;
  }

  .menu li:hover {
    background: #222;
  }
}

.span1 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  column-gap: 10px;      
  row-gap: 50px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;                           
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto,auto);
  grid-template-areas: "one two two"
                       "three three four"
                       "five six seven"
                       "footer footer footer"
  
}

@media screen and (max-width:576px) {
  .grid-container {
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: "one"
                         "two"
                         "four"
                         "three"
                         "five"
                         "six"
                         "seven"
                         "footer"
  }
  .vdo {
    transition: 1s;
  }
  .img1 {
    margin: auto;
    transition: 1s;
  }
  .img3 {
    width: 80%;
    height: 80%;
    transition: 1s;
  }
  .img9 {
    width: 80%;
    height: 80%;
    transition: 1s;
  }
  .two {
    margin: auto;
  }
  .six {
    margin: auto;
  }
  .one {
    margin: auto;
  }
  .three {
    grid-area: three;
    list-style-position: inside;
    margin-left: 0rem;
  }

  }

  @media  screen and (max-width:768px) and (min-width:576px) {
    .img9 {
      width: 80%;
      height: 80%;
      transition: 1s;
    }
    .img3 {
      transition: 1s;
    }
    .img1 {
      transition: 1s;
    }
    .grid-container {
      grid-template-columns: repeat(2,1fr);
      grid-template-areas: "one two"
                           "three four"
                           "five six"
                           "five seven"
                           "footer footer"
  }
  .six {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .three {
    grid-area: three;
    list-style-position: inside;
    margin-left: 1rem;
  }
  .vdo {
    transition: 2s ease-out;
  }
  }

.img1 {
  float: left ;
  border-radius: 50% ;
  margin-right: 35px ;
  margin-left: 50px;
  position : relative ;
  z-index: 2 ;
  transition:1s;
}

.ig1 {
  display: block;
  position: relative;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text1 {
  color: #fff;
  position: relative;
  margin-left: 1rem;
  margin-top: 10px;
}

.one {
  grid-area: one;
  align-items: center; 
}

.two {
  grid-area: two;
  
}

.three {
  grid-area: three;
  list-style-position: inside;
  margin-left: 4rem;
}

.four {
  grid-area: four;
  
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.seven {
  grid-area: seven;
}

.footer {
  grid-area: footer;
  background: #333;
  height: 6rem;
}

.nine {
  grid-area: nine;
}

.img9 {
  display: block;
  margin-left: auto;
  transition: 1s;
}

.img3 {
  transition: 1s;
}

.mark {
  background-color: #d6d6d6 ;
}

.text4 {
  font-size: 22px;
  transition: 1s;
}

.text3::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.text3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
