html {
  font-family: 'Courier New', Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  /*border: 1px solid;*/
}

nav {
  background: #333;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin-left: 2rem;
  text-align: center;
  transition: 0.5s;
}

a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
}

@media screen and (max-width:360px) {
  .logo {
    margin-bottom: 1.5rem;
  }
  
  .nav-con {
    padding: 3rem 0;
    flex-direction: column;
    height: auto;
  }

  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    padding: 1rem 0;
    margin-left: 0;
    transition: 0.5s;
  }

  .menu li:hover {
    background: #222;
  }
}

.span1 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.grid-container {
  display: grid;
  grid-gap: 0px;      
  grid-template-areas: "a pic1 a"
                       "four  pofile six"
                       "blank1 video video"
                       "blank1 vdo1 vdo1";         
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto,auto);
  column-gap: 10px;
  row-gap: 10px;
  padding: 5px;
  border: #222 solid;
}

.img1 {
  float: left ;
  border-radius: 50% ;
  margin-right: 35px ;
  position : relative ;
  z-index: 2 ;
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pic1 {
  grid-area: pic1; 
}

.profile {
  grid-area: profile;

}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}