html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
max-width: 1140px;
margin: 0 auto;
}

nav {
background: #333;
}

.nav-con {
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
}

.menu {
display: flex;
}

.menu li {
list-style: none;
margin-left: 2rem;
text-align: center;
transition: 0.5s;
}

a {
color: #fff;
text-decoration: none;
}

.logo {
font-size: 1.5rem;
}

@media screen and (max-width:576px) {
.logo {
  margin-bottom: 1.5rem;
}

.nav-con {
  padding: 3rem 0;
  flex-direction: column;
  height: auto;
}

.menu {
  flex-direction: column;
  width: 100%;
}

.menu li {
  padding: 1rem 0;
  margin-left: 0;
  transition: 0.5s;
}

.menu li:hover {
  background: #222;
}
}

.grid-container1 {
    display: grid;
    grid-template-areas: "pic4"
                         "name";
    grid-gap: 0px;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(auto,auto);
    column-gap: 10px;
    row-gap: 10px;
    background-color: bisque;
    padding: 5px;
  }
  
  .pic4 {
    grid-area: pic4;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .name {
    grid-area: name;
  }
  
  .name {
    font-family: bladley hand, cursive ;
    font-size: 13px ;
    color: #24481a;
    text-align: center;
  }

  body {
    background-color: #F7E6C4;
  }

  .grid-container2 {
    display: grid;
    grid-template-areas: "act act act"
                         "filly CSTUfirst soon";
    grid-gap: 0px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,auto);
    column-gap: 10px;
    row-gap: 10px;
    background-color: #F1C376;
    padding: 5px;
  }

  .act {
    grid-area: act;
  }

  .filly {
    grid-area: filly;
  }

  .CSTUfirst {
    grid-area: CSTUfirst;
  }

  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }

  .grid {
    border: 3px solid #8f9a5b;
  }


  .grid-container3 {
    display: grid;
    grid-template-areas: "acti acti "
                         "pic5 textpic5";
    grid-gap: 0px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto,auto);
    column-gap: 10px;
    row-gap: 10px;
    background-color: #F1C376;
    padding: 5px;
  }

  .acti {
    grid-area: acti;
  }

  .pic5 {
    grid-area: pic5;
  }

  .textpic5 {
    grid-area: textpic5;
  }

  h1 {
    font-family: bladley hand, cursive ;
  font-size: 20px;
  color: #24481a;
  }

  h3 {
    font-family: bladley hand, cursive ;
  font-size: 20px;
  color: #24481a;
  }